body {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #5a4c8a;
  font-size: 40px;
  text-align: center;
}
input {
  height: 40px;
  border: 2px solid #5a4c8a;
  background-color: #fffdfd;
  color: rgb(0, 0, 0);
  outline: none;
  width: 79%;
  border-radius: 6px;
}

button {
  border: none;
  height: 44px;
  background-color: #5a4c8a;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.5s;
  border-radius: 6px;
  width: 90px;
}

button:hover {
  background-color: #5a4c8a;
  height: 45px;
  width: 90px;
}

button:active {
  background-color: #b1a3a3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #5a4c8a;
  padding: 10px;
  margin: 10px auto;
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

span {
  cursor: pointer;
}
